<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>

  <style>

  .box {
    width: 90%;
    margin: 50px auto;
    background: white;
    padding: 50px;
    box-shadow: 0 0 10px 5px #999;
  }
  

  </style>
</head>
<body>
  <div class="container" id="app">
    <% if (invalidToken) { %>
    <div class="card mt-5 text-center">
      <div class="card-header bg-warning text-light">
        <h2>Job Referral System</h2>
      </div>
      <div class="card-body bg-light">
        <div class="alert alert-danger" role="alert">
          Your token is invalid now or your token is expired!!
          <br>
          You can not reset your password!!!
        </div>
      </div>
    </div>
      
    <% } else {  %>
      <div class="card mt-5">
        <div class="card-header bg-success text-light text-center">
          <h2>Job Referral System</h2>
        </div>
        <div class="card-body bg-light">
          <div class="box">
            <form @submit.prevent="checkPassowrdIsSame" method="POST" ref="reset_form">
              <div class="form-group">
                <h3 class="text-center">
                  You told us you forgot your password! <br>
                  You can set the new password here.
                </h3>
              </div>
              <div class="form-group">
                <label for="email">Your Email is</label>
                <div class="alert alert-info"> <%= user.email %> </div>
              </div>
              <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" name="password"  v-model="password" aria-describedby="emailHelp" placeholder="New Password" />
                <small v-if="errors.password" class="text-danger">{{ errors.password }}</small>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" v-model="confirmPassword" placeholder="Password" />
                <small v-if="errors.confirmPassword" class="text-danger">{{ errors.confirmPassword }}</small>
              </div>
              <div class="form-group text-center">
                <small v-if="errors.global" class="alert alert-danger">{{ errors.global }}</small>
              </div>
              <button type="submit" class="btn btn-info">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    <% } %>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>

    new Vue({
      el: '#app',
      data: {
        id: '<%= user._id %>',
        password: '',
        confirmPassword: '',
        errors: {}
      },
      methods: {
        checkPassowrdIsSame() {
          const errors = {}
          if (this.password == '') {
            errors.password = 'Please provide password';
          } else if (this.password.length < 6) {
            errors.password = 'The password must be at least 6 digits';
          }

          if (this.confirmPassword == '') {
            errors.confirmPassword = 'Please provide confirm password';
          } else if (this.confirmPassword.length < 6) {
            errors.confirmPassword = 'The password must be at least 6 digits';
          }

          if (this.password != this.confirmPassword) {
            errors.global = 'Password and ConfirmPassword is not the same';
          }
          this.errors = errors;
          if (Object.keys(errors).length > 0 ) { return }

          axios.post('/api/reset_password', {
            _id: this.id,
            password: this.password
          })
          .then((data) => {
            alert('successfully changed password!')
          })
          .catch((error) => {
            console.log('errror status', error.response.data.errors)
            alert(error.response.data.errors)
          });
         
        }
      }
    })

  
  </script>

</body>
</html>