<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  
  <style>

  .box {
    width: 90%;
    margin: 50px auto;
    background: white;
    padding: 50px;
    box-shadow: 0 0 10px 5px #999;
  }
  

  </style>
</head>
<body>
  <div class="container" id="app">
    <div class="card mt-5">
      <div class="card-header bg-success text-light text-center">
        <h2>Flight System</h2>
      </div>
      <transition
        enter-active-class="animated bounceInLeft" >
        <div class="card-body bg-light">
          <div class="box">
            <form @submit.prevent="checkEmailInput" method="POST" ref="sendmail_form">
              <div class="form-group">
                <h3 class="text-center">
                  Reset Password
                </h3>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" v-model="email" aria-describedby="emailHelp" placeholder="Your Email">
                <transition
                  enter-active-class="animated bounceIn"
                  leave-active-class="animated bounceOut">
                  <small v-if="errors.email" class="alert alert-danger">{{ errors.email }}</small>
                </transition>
              </div>
              <div class="form-group">
                <small v-if="errors.global" class="alert alert-danger">{{ errors.global }}</small>
              </div>
              <button type="submit" class="btn btn-info">
                Send Reset Email
              </button>
              <span v-if="loading">Sending email ...</span>
            </form>
          </div>
        </div>
      </transition>

    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.js"></script>

  <script>

    new Vue({
      el: '#app',
      data: {
        email: '',

        loading: false,
        errors: {}
      },
      methods: {
        checkEmailInput() {
          const errors = {}
          if (this.email == '') {
            errors.email = 'Please provide email';
          }
          this.errors = errors
          if (Object.keys(errors).length > 0 ) { return }

          this.loading = true;
          fetch(`/api/reset_password_request`, {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              email: this.email
            })
          })
          .then(res => res.json())
          .then(data => {
            // console.log('response issssss', data)
            this.loading = false;
            alert('Please check your inbox to reset your password!')
          })
          .catch(e => {
            console.log(e)
            this.loading = false;
            alert('Something went wrong!')
          })
        }
      }
    })

  </script>

</body>
</html>